body{
  margin: 0px;
}

.border{
  border: 2px solid red;
}

.wrapper{
  display: flex;
  flex-direction: row;
}

.width-50-per{
  width: 50%;
}

.btn{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  border: 2px solid;
}

.label{
  display: inline-block;
  width: 235px;
}

.m-top-15{
  margin-top: 15px;
}

.register-form{
  display: flex;
  flex-direction: column;
  font-size: 22px;
  align-items: center;
}

.input{
  font-size: 18px;
  width: 250px;
}

.m-bottom-15{
  margin-bottom: 15px;
}

.text-box {
  width: 250px;
  height: 50px;
  font-size: 18px;
}

.error-msg{
  color: red;
}

.main{
  height: 98vh;
}

.header{
    border: 2px solid;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.search-box{    
  width: 250px;
  height: 30px;
  font-size: 24px;
}

.body{
  border: 2px solid;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.sidebar{
  border: 2px solid red;
  width: 20%;
  display: flex;
    flex-direction: column;
}
.content{
  border: 2px solid blue;
    width: 80%;
}

.nav-btn{
  padding: 15px;
  border: 2px solid;
  background-color: #1a237e;
  color: white;
}

.margin{
  margin: 25px;
}

.active-btn{
  background-color: black;
  color: white;
}