body{
  margin: 0px;
}

.border{
  border: 2px solid red;
}

.wrapper{
  display: flex;
  flex-direction: row;
}

.width-50-per{
  width: 50%;
}

.btn{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  border: 2px solid;
}

.label{
  display: inline-block;
  width: 175px;
}

.m-top-15{
  margin-top: 15px;
}